%list-style
  color: #460e44
  font-size: 2em
  font-family: "Cambria"
  font-style: italic
  font-weight: bold

.navbar
  nav
    background: #FDEEEF
  a:hover
    text-decoration: underline
    text-decoration-color: #302833
    text-decoration-thickness: .39px
  li
    display: inline
    @extend %list-style
    padding-left: 2ex
    margin: auto