@mixin sel-list($color: #000)
  color : $color

%list-style
  font-size: 2em
  font-family: "Cambria"
  font-style: italic
  text-shadow: 2px 2px #302833

.container
  padding: 0 2rem
  li
    @extend %list-style
    display: inline
    padding-left: 2ex
  li:nth-of-type(1)
    @include sel-list(#99ffff)
  li:nth-of-type(2)
    @include sel-list(#99ff99)
  li:nth-of-type(3)
    @include sel-list(#ccff99)
  li:nth-of-type(4)
    @include sel-list(#ffff99)
  li:nth-of-type(5)
    @include sel-list(#ffcc99)
  a:hover
    text-decoration: underline
    text-decoration-color: #302833
    text-decoration-thickness: .39px

.to-top
  @extend %list-style
  text-align: left
  float: left
  @include sel-list(#ff99ff)

.nav-cont
  text-align: right
