%paragraph
  margin-top: 4rem

@mixin articleHeader($fSize: 2em)
  font-size: $fSize
  @extend %paragraph

.markdown
  width: 60vw
  margin: 7rem auto 7rem auto
  h1
    @include articleHeader(3.9em)
    text-align: center
  h2
    @include articleHeader()
  h3
    @include articleHeader(1.5em)
  p
    margin: 1.5rem auto 1.5rem auto
  strong
    padding: 0 10px 0 10px
    background-image: linear-gradient(transparent 80%, #8effff)
  a:hover
    text-decoration: underline