.add-item-btn
  padding: 1rem
  margin: 0
  width: 100%
  text-align: left
  background: white
  border-left: solid 10px white
  &:before
    font-weight: bold
    font-size: 1rem
    line-height: 1rem
    content: '+'
    opacity: 0.5
  &:hover
    background: #fff8e8
    border-left: solid 0.5rem #c3d825

.item-form
  padding: 0
  margin: 0
  font-size: 1em
  width: 95%
  height: 100%
  background: #c3e5e7
  &:focus
    outline: 0

.delete-item-btn
  width: 5%
  background: #c3e5e7
  &:before
    font-weight: bold
    font-size: 1rem
    line-height: 1rem
    content: "×"
    opacity: 0.39
  &:hover:before
    opacity: 1
